fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
cloudinary
google-genai
groq
openai
requests
python-dotenv
email-validator
resend
edge-tts
tavily-python
psycopg2-binary
